# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.a

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb
*.dSYM/
*.stackdump

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Build folders
build/
dist/

#VS Code
.vscode/

# Node (for later)
node_modules/

#Pyhton (for later ML infra)
__pycache__/
*.pyc
